.contenedor{
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  grid-gap: 10px;
}

.contenedor li{
  list-style: none;
  border: 1px solid #000;
  transition: all 0.5s ease;
  text-align: center;
}

.titulo{
  grid-column: 1/7;
  grid-row: 1/2;
  background-color: #000;
  color: #fff;
  padding: 10px;
  font-size: 2rem;
  text-align: center;
}

.filtro{
  grid-template-columns: 1fr;
  font-size: 2rem;
  text-align: center;
}

.filtro input{
  width: 80%;
  padding: 5px;
  font-size: 2rem;
  text-align: center;
}

.footer{
  grid-column: 1/7;
  grid-row: 6/7;
  background-color: #000;
  color: #fff;
  padding: 5px;
  font-size: 1rem;
  text-align: center;
  bottom: 0px;
}

.contenedor li:hover{
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

footer a{
  color: yellow;
  text-decoration: none;
}

footer a:hover{
  color: yellow;
  text-decoration: underline;
}